<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>组件化TodoList</title>
		<script type="text/javascript" src="../js/vue.js" ></script>
	</head>
	<div id="app">
		<input type="text" v-model="todoValue"/>
		<button @click="handlebtnClick">提交</button>
		<ul>
			<!--<li v-for="item in list">{{item}}</li>-->
			<todo-item v-bind:content="item" v-for="item in list"></todo-item>
		</ul>
	</div>
	
	<script type="text/javascript" >
	//全局组件的使用
//		Vue.component("TodoItem",{
//			props:['content'],
//			template: "<li>{{content}}</li>"
//		})

		//局部组件的使用
		var TodoItem = {
			props:['content'],
			template: "<li>{{content}}</li>"
		}
		
		var app = new Vue({
			el: '#app',
			components:{
				TodoItem: TodoItem
			},
			data: {
				list: [],
				todoValue: ''
			},
			methods: {
				handlebtnClick:function() {
					this.list.push(this.todoValue)
					this.todoValue=''
				}
			}
		})
	</script>
	<body>
	</body>
</html>
